.bg-style {
  background-color: var(--global-background-color);
}

.align-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.align-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.align-center-y {
  top: 50%;
  transform: translateY(-50%);
}
